.img-container .first-picture {
    display: flex;
    justify-content: end;
}


.second-picture {
    margin-left: 0 !important;
}

.lead {
    text-align: justify;
}

.education {
    justify-content: flex-start;
}

.experience-title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.card {
    border-radius: 5px;
}

.technologies {
    margin-top: 10px;
    display: flex;
}

.section li::marker {
    color: rgb(68, 104, 68) !important;
    font-size: 1.5rem;
}

.tech-list-items {
    font-size: 1rem;
    font-weight: 700;
}

.second-education-ul {
    margin-left: 50px;
}

.section--contact .container {
    border: solid 2px black;
    border-radius: 5px;
}