.img-container .first-picture {
    display: flex;
    justify-content: end;
}


.second-picture {
    margin-left: 0 !important;
}

.lead {
    text-align: justify;
}

.education {
    justify-content: flex-start;
}

.experience-title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.card {
    border-radius: 5px;
}

.technologies {
    margin-top: 10px;
}